* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    margin: auto;
    text-align: center
}

body {
    background-attachment: fixed;
    margin: 0px;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.descuentos {
    background-color: #1CD1B0;
    color: black;
    margin: 0px;
    padding: 0px 25px;
    height: 23px;
    font-size: 15px;
    position: relative;
}

header {
    position: sticky;
    top: 23px;
    height: 81px;
    z-index: 99;
    background-color: #00669F;
}

h1 {
    color: #F3F3F3;
    box-sizing: border-box;
    height: 167px;
    padding: 25px;
    font-size: 30px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

header img {
    display: inline-block;
    vertical-align: top;
}

nav {
    background-color: #001D2D;
    padding: 10px 0px;
    text-align: right;
    height: 40px;
}

nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin-right: 20px;
}

.card {
    position: relative;
    align-content: center;
    text-align: center;
    background-color: #F3F3F3;
    margin: 30px;
    width: 300px;
    height: 533px;
    box-shadow: 1px 5px 5px grey;
    border-radius: 60px 60px 0px 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

h2 {
    top: 74px;
    font-size: 30px;
    text-align: center;
}

#backgroundbat {
    background-image: url("../img/bg-batman.jpg");
    background-size: cover;
    background-position-x: center;
    height: 193px;
    box-shadow: 1px 5px 5px grey;
    border-radius: 15px 15px 0px 0px;
}

#backgroundsuper {
    background-image: url("../img/bg-superman.jpg");
    background-size: cover;
    background-position-x: center;
    height: 193px;
    box-shadow: 1px 5px 5px grey;
    border-radius: 15px 15px 0px 0px;
}

#backgroundwonder {
    background-image: url("../img/bg-wonderw.jpg");
    background-size: cover;
    background-position-x: center;
    height: 193px;
    box-shadow: 1px 5px 5px grey;
    border-radius: 15px 15px 0px 0px;
}

.picProfile {
    border-radius: 50%;
    position: relative;
    width: 120px;
    height: 120px;
    bottom: -120px;
    align-self: center;
    margin: auto;
    align-content: center;
}

.profile {
    text-align: left;
    position: relative;
    bottom: 0px;
    font-size: 16px;
    padding: 38px;
}

.button {
    background-color: #00669F;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 15px;
    color: #F3F3F3;
    height: 48px;
    width: 128px;
    font-size: 15px;
    top: 20px;
}

#corazon {
    color: red;
    position: absolute;
    font-size: 26px;
    left: 20px;
    top: 15px;
    z-index: 98;
}

.card:hover {
    width: 320px;
    height: 553px;
}

footer {
    margin-top: 20px;
    background-color: #00669F;
    color: #FFF9F9;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    bottom: 0;
    z-index: 11;
}

.formulario {
    border-color: black;
    display: block;
    width: 646px;
    margin: 10px;
}

.centrado {
    width: 646px;
    margin: auto;
    text-align: center;
}

.itemFormulario {
    width: 620px;
    height: 60px;
    margin: 10px;
}

.itemFormulario2 {
    margin-top: 300px;
    align-items: center;
    height: 54px;
    width: 300px;
    margin: auto;
    border-radius: 25px;
}

.cajaformulariosuper {
    column-count: 2;
    position: relative;
    background-color: #00669F;
    color: #FBFFFD;
    width: 954px;
    height: 832px;
    border-radius: 50px;
    align-content: center;
}

.inputs {
    width: 343px;
    height: 63px;
    border-radius: 20px;
    margin: 20px;
}